* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-color:aquamarine
}
.titulo-principal {
    color: fuchsia;
}
.trabajo-practico {
    color: blue;
}
.primer-repositorio{
    color: brown;
}
.fundamentos{
    color: blue;
}
.creando-repo{
    color: blue;
}
.ing-sig-comandos { 
    color: blue;
}